# dependencies
node_modules/

# next
.next/
out/

# environment
.env
.env.local
.env.production
.env.development

# python
__pycache__/
*.pyc
.ipynb_checkpoints/

# system
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*